include CardStatistics
include CardProjects
include CardCharts
include CardProductRevenueShare
include CardBestProducts
include CardSharedFiles
include CardActiveUsers
include GrossRevenueCard
include CardPerfomance

mixin Dashboard
  .row.g-3.mb-3
    .col-md-6.col-xxl-3
      +CardMonthlyRecurringRevenue
    .col-md-6.col-xxl-3
      +CardRevenueGrowthRate
    .col-md-6.col-xxl-3
      +CardMarketShare
    .col-md-6.col-xxl-3
      +CardAnnualRunRate

  .row.g-0
    .col-lg-6.pe-lg-2.mb-3
      +CardTopProducts
    .col-lg-6.ps-lg-2.mb-3
      +CardTotalSales.h-lg-100

  .row.g-0
    .col-lg-6.col-xl-7.col-xxl-8.mb-3.pe-lg-2.mb-3
      +CardProductRevenueShare.h-lg-100
 
  .row.g-0
    .col-sm-6.col-xxl-3.ps-sm-2.order-xxl-1.mb-3.mb-xxl-0
      +CardRevenueGrowth.h-100
    .col-sm-6.col-xxl-3.ps-sm-2.order-xxl-1.mb-3.mb-xxl-0
      +GrossRevenueCard.h-100

  .row.g-0
    .col-sm-6.col-xxl-3.ps-sm-2.order-xxl-1.mb-3.mb-xxl-0
      +CampaignsPerformance.h-100






