extends ../../../layouts/LayoutSplit
include ../../../mixins/authentication/RegisterForm
include ../../../mixins/authentication/SocialButtons
include ../../../mixins/authentication/FormHeader

block append variables
  - var background = { image: `${CWD}assets/img/generic/19.jpg` }

block splitContent
  +FormHeader({
    title: {
      text: 'Register',
      tag: "h3",
    },
    normalContent: {
      text: 'Already User?',
      className:'fw-semi-bold',
    },
    linkText: 'Login',
    link:'split/login.html'
  })

  +RegisterForm({
            name: { attrs: { placeholder: 'Name'} },
            email: { attrs: { placeholder: 'Email address' } },
            password: { attrs: { placeholder: 'Password' } },
            confirmPassword: { attrs: { placeholder: 'Confirm Password' } },
            checkbox: { attrs: { id: 'modal-register-checkbox' } },
            companyName: { attrs: { placeholder: 'Company Name'} },
            contactEmail: { attrs: { placeholder: 'Contact Email' } },
            location: { attrs: { placeholder: 'Location' } },
            industry: { attrs: { placeholder: 'Industry: advertising, agriculture, hospitality etc.' } },
            employeeCount: { attrs: { placeholder: 'Number of Employees' } },
          })
  +SocialButtons({ title: 'register' }).mt-4