extends ../../../layouts/CardLayout
//- include ../../../mixins/authentication/Mixins

block append variables
  - var attrsLayout = { class: 'container-fluid' }

block cardLeft
  p.pt-3.text-white Have an account?
    br
    a(href=`${CWD}${paths['card-login']}`).btn.btn-outline-light.mt-2.px-4
      | Log In

block cardRight
  h3 Register
  +RegisterForm({
            name: { attrs: { placeholder: 'Name'} },
            email: { attrs: { placeholder: 'Email address' } },
            password: { attrs: { placeholder: 'Password' } },
            confirmPassword: { attrs: { placeholder: 'Confirm Password' } },
            checkbox: { attrs: { id: 'modal-register-checkbox' } },
            companyName: { attrs: { placeholder: 'Company Name'} },
            contactEmail: { attrs: { placeholder: 'Contact Email' } },
            location: { attrs: { placeholder: 'Location' } },
            industry: { attrs: { placeholder: 'Industry: advertising, agriculture, hospitality etc.' } },
            employeeCount: { attrs: { placeholder: 'Number of Employees' } },
          })
  +SocialButtons({ title: 'register' }).mt-4
